* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 20px;
    background-color: #47aac9;;
}

div.item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: rgb(202, 23, 172);
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: 2px underline rgb(29, 29, 220);
}

.category {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 20px gold;
}

.item-name,.subtitle {
    text-align: center;
    width: 100%;
    color: rgb(29, 29, 220);
    font-size: 30px;
    margin-bottom: 10px;
}
.subtitle{
    padding: 10px;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item-list.hide{
    display: none;
}
.item-list a{
    text-decoration: none;
    margin: 20px;
}
.item-list p{
    text-align: center;
    color: orange;
    font-weight: bold;
}
.item-list a img {
    width: 250px;
    border-radius: 21px;
}

.item-list a img:hover {
    box-shadow: 0px 2px 10px blue;
}
.item-box:hover {
    box-shadow: 0px 2px 10px blue;
}

.item-box{
    border-radius: 21px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 189, 183);
    color: yellow;
    font-weight: bold;
}
.subtitle div{
    padding-top: 20px;
}
.btn.text-hide,.btn{
    padding: 5px 15px;
    font-weight: normal;
    border-radius: 7px;
    margin: 10px 50px;
    color: white;
    font-weight: bolder;
    background-color: #47aac9;
    border: 1px solid #47aac9;
    box-shadow: 0px 2px 10px blue;
}
.btn.text-hide:hover,.btn:hover{
    background-color: white;
    color: #47aac9;;
    cursor: pointer;
}
@media (max-width:910px) {
    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .item-name,.subtitle {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .item-list a img {
        width: 30vw;
        height: auto;
    }
    .item-box{
        width: 30vw;
        height: 150px;
    }
    .item-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:699px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:493px) {
    .item-list a img {
        height: 150px;
        width: auto;
    }
    .item-box{
        width: 50vw;
        height: 150px;
    }
    .item-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:329px) {
    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item-name,.subtitle {
        font-size: 12px;
        margin-bottom: 3px;
    }
    .item-list a img {
        width: 80%;
        height: auto;
    }
    .item-box{
        width: 50vw;
        height: 150px;
    }
    .item-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}